﻿html {
    color: #000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

h1, h2 {
    font-size: 100%;
    font-weight: normal
}

html, body {
    height: 100%;
    margin: 0;
    background: #eee;
    font-size: 16px;
    font-family: "Merriweather", "Georgia", serif;
    font-weight: 300;
    color: #5b5b5b
}

body {
    display: flex;
    flex-direction: column
}

section {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem
}

h1, h2 {
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 3rem 1rem 5rem;
}

h1 {
    color: #fff;
    font-family: "Merriweather", "Georgia", serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: -3rem;
    background-size: 15rem
}

h2 {
    font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #00B7DE;
    font-size: 1.3rem
}

h2 + h1 {
    margin-top: -9rem
}

h1 + nav {
    margin-top: -7rem;
    margin-bottom: 2rem
}

section h1, section h2 {
    margin-left: -1rem;
    margin-right: -1rem
}

body {
    background: #27425E;
}

div#logo {
    height: 400px;
    background: #27425E url(pal-mtn.svg) no-repeat 50%;
}
